@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(720deg); } }

@keyframes scaleToView {
  0% {
    transform: scale(0.4);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.08); }
  40% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #f3f3f3; }

.circle-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  height: 50vh; }
  .circle-section__animation-layer {
    display: block;
    background-image: linear-gradient(to bottom right, #fa8231, #F02F46);
    border-radius: 100%;
    padding: 1rem;
    transform-origin: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .16s;
    box-shadow: 0 0 3rem rgba(17, 17, 17, 0.7); }
  .circle-section__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 100%;
    box-shadow: 0 0 2rem rgba(17, 17, 17, 0.7); }
  .circle-section__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    animation: spin 1s;
    fill: #f3f3f3;
    transition: transform 1s; }
  .circle-section--pulsing .circle-section__animation-layer {
    animation: pulse .64s; }
  .circle-section--blurred .circle-section__animation-layer {
    animation: none;
    transform: scale(0.6);
    filter: grayscale(1); }
  .circle-section--blurred .circle-section__text {
    transform: rotate(-720deg); }
  .circle-section__animation-layer:hover {
    transform: scale(1.05);
    animation: none; }
  .circle-section--blurred .circle-section__animation-layer:hover {
    transform: scale(0.63); }
  .circle-section__animation-layer:active {
    transform: scale(1); }
  .circle-section--blurred .circle-section__animation-layer:active {
    transform: scale(0.6); }
  .circle-section--animating .circle-section__animation-layer {
    transition: all 1s; }
  .circle-section--hidden .circle-section__animation-layer {
    transform: scale(0.6);
    opacity: 0; }
