@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(720deg); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.06); }
  40% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(1.04); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #f3f3f3;
  font-family: 'Ubuntu', sans-serif; }

.btn-primary {
  transform-origin: center;
  display: block;
  width: 40rem;
  height: 40rem;
  background-image: linear-gradient(to bottom right, #fa8231, #F02F46);
  border-radius: 100%;
  padding: 1rem;
  transition: all 0.16s;
  box-shadow: 0rem 0rem 3rem rgba(17, 17, 17, 0.7);
  cursor: pointer; }
  .btn-primary--small {
    width: 16rem;
    height: 16rem; }
  .btn-primary__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 100%;
    box-shadow: 0 0 2rem rgba(17, 17, 17, 0.7); }
  .btn-primary__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #f3f3f3;
    width: 50%;
    height: 50%; }
  .btn-primary__text {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: spin 1s;
    fill: #f3f3f3;
    transition: transform 1s; }
  .btn-primary.pulsing {
    animation: pulse .64s; }
  .btn-primary.blurred {
    animation: none;
    transform: scale(0.6);
    box-shadow: 0 0 0 rgba(17, 17, 17, 0.7); }
  .btn-primary.blurred .btn-primary__text {
    transform: rotate(-720deg); }
  .btn-primary--small.blurred {
    transform: scale(0.8); }
  .btn-primary:hover {
    transform: scale(1.05);
    animation: none; }
  .btn-primary.blurred:hover {
    transform: scale(0.63);
    box-shadow: 0 0 1rem rgba(17, 17, 17, 0.7); }
  .btn-primary--small.blurred:hover {
    transform: scale(0.83); }
  .btn-primary:active {
    transform: scale(1); }
  .btn-primary.blurred:active {
    transform: scale(0.6); }
  .btn-primary--small.blurred:active {
    transform: scale(0.8); }
  .btn-primary.animating {
    transition: all 1s; }
  .btn-primary.hidden {
    transform: scale(0.6);
    opacity: 0; }
  .btn-primary.hidden .btn-primary__text {
    transform: rotate(-720deg); }

.info-blob {
  display: block;
  position: absolute;
  height: 8rem;
  width: 8rem;
  background: #333;
  border-radius: 100%;
  box-shadow: 0 0 0.3rem rgba(17, 17, 17, 0.7);
  transition: all 0.16s;
  overflow: hidden; }
  .info-blob:link, .info-blob:active, .info-blob:visited {
    text-decoration: none; }
  .info-blob:link:hover {
    box-shadow: 0 0 1rem rgba(17, 17, 17, 0.7);
    transform: scale(1.05); }
  .info-blob__icon {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    transition: transform 0.16s; }
  .info-blob__description {
    color: #F02F46;
    position: relative;
    height: 100%;
    top: calc(50% - .7rem);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    transition: transform 0.16s;
    transform: translateY(100%); }
  .info-blob--white .info-blob__icon {
    fill: #f3f3f3; }
  .info-blob--white .info-blob__description {
    color: #f3f3f3; }
  .info-blob:hover .info-blob__icon {
    transform: translateY(-200%); }
  .info-blob:hover .info-blob__description {
    transform: translateY(0); }
  .info-blob.hidden {
    transform: scale(0.4);
    opacity: 0; }
  .info-blob.animating {
    transition: all 1s; }

.contact-list {
  list-style-type: none; }
  .contact-list__item {
    display: flex;
    align-items: center; }
    .contact-list__item:not(:last-child) {
      margin-bottom: 1rem; }
  .contact-list__icon {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    fill: #111; }
  .contact-list__text {
    font-size: 1.6rem;
    color: #111; }
  .contact-list.hidden {
    opacity: 0;
    transform: translateX(-4rem); }
  .contact-list.animating {
    transition: all 1s; }

.project-link {
  position: relative;
  display: block;
  width: 25rem;
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  transition: all 0.16s;
  overflow: hidden; }
  .project-link:not(:last-child) {
    margin-bottom: 2rem; }
  .project-link:link, .project-link:active, .project-link:visited {
    text-decoration: none; }
  .project-link__description {
    position: absolute;
    bottom: 0;
    color: #f3f3f3;
    background: #333;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    padding: .5rem 1rem;
    transition: transform 0.16s;
    transform: translateY(100%); }
  .project-link:hover {
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.7); }
  .project-link:hover .project-link__description {
    transform: translateY(0); }
  .project-link.hidden {
    opacity: 0;
    transform: scale(0.4); }
  .project-link.animating {
    transition: all 1s; }

#link-sukkashop {
  background-image: url(../img/sukkashop.jpg); }

#link-salon {
  background-image: url(../img/salon.jpg); }

.section {
  position: absolute;
  width: 40vw;
  height: 50vh; }
  .section.hidden, .section.blurred {
    z-index: -1000; }

#section-teemu .section__primary-button {
  position: relative;
  top: -10rem;
  left: -10rem; }

#section-projects {
  width: 51rem;
  height: 32rem;
  top: 50%;
  right: 50%; }
  #section-projects .section__primary-button {
    position: absolute;
    top: calc(20rem * 0.6 - 4rem);
    right: calc(20rem * 0.6 - 4rem); }
    #section-projects .section__primary-button.hidden {
      transform: translate(calc(20rem * 0.6 - 4rem), calc(-20rem * 0.6 + 4rem)); }

#section-resume {
  width: 26rem;
  height: 26rem;
  bottom: 50%;
  right: 50%; }
  #section-resume .section__primary-button {
    position: absolute;
    bottom: calc(20rem * 0.6 - 4rem);
    right: calc(20rem * 0.6 - 4rem);
    background: #fa8231; }
    #section-resume .section__primary-button.hidden {
      transform: translate(calc(20rem * 0.6 - 4rem), calc(20rem * 0.6 - 4rem)); }

#section-techs {
  width: 55rem;
  height: 41rem;
  bottom: calc(50% - 2rem);
  left: calc(50% - calc(20rem * 0.6 - 4rem)); }
  #section-techs .section__primary-button {
    position: absolute;
    bottom: calc(calc(20rem * 0.6 - 4rem) + 2rem);
    left: calc(2 * calc(20rem * 0.6 - 4rem)); }
    #section-techs .section__primary-button.hidden {
      transform: translate(calc(-20rem * 0.6 + 4rem), calc(20rem * 0.6 - 4rem)); }

#section-contacts {
  width: 54rem;
  height: 33rem;
  top: 50%;
  left: 50%; }
  #section-contacts .section__primary-button {
    position: absolute;
    top: calc(20rem * 0.6 - 4rem);
    left: calc(20rem * 0.6 - 4rem);
    background: #F02F46; }
    #section-contacts .section__primary-button.hidden {
      transform: translate(calc(-20rem * 0.6 + 4rem), calc(-20rem * 0.6 + 4rem)); }

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20rem;
  width: 20rem;
  z-index: 1000; }

#tech-blob-html5 {
  bottom: 15rem;
  left: 8rem; }

#tech-blob-css3 {
  bottom: 25rem;
  left: 6rem; }

#tech-blob-javascript {
  bottom: 26rem;
  left: 17rem; }

#tech-blob-sass {
  bottom: 32rem;
  left: 27rem; }

#tech-blob-wordpress {
  bottom: 31rem;
  left: 40rem; }

#tech-blob-react {
  bottom: 22rem;
  left: 32rem; }

#tech-blob-php {
  bottom: 18rem;
  left: 43rem; }

#tech-blob-sql {
  bottom: 6rem;
  left: 46rem; }

#tech-blob-git {
  bottom: 0rem;
  left: 35rem; }

#tech-blob-npm {
  bottom: 11rem;
  left: 34rem; }

#tech-blob-linux {
  bottom: 2rem;
  left: 24rem; }

#contact-list {
  position: absolute;
  top: calc(calc(20rem * 0.6 - 4rem) + 8rem * (1 - 0.8));
  left: calc(calc(20rem * 0.6 - 4rem) + 8rem * 2 + 3rem);
  height: 12.8rem;
  display: flex;
  flex-direction: column;
  align-content: center; }
  #contact-list > li {
    flex-grow: 1; }
  #contact-list li:nth-child(2n - 1) {
    transform: translateX(-1rem); }

#contact-blob-github {
  top: 24rem;
  left: 7rem;
  background: #333; }

#contact-blob-linkedin {
  top: 24rem;
  left: 18rem;
  background: #0077b5; }
