@keyframes spin {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(720deg); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.06); }
  40% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(1.04); }
  100% {
    transform: scale(1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #f3f3f3;
  font-family: 'Ubuntu', sans-serif; }

.btn-primary {
  transform-origin: center;
  display: block;
  width: 50vh;
  height: 50vh;
  background-image: linear-gradient(to bottom right, #fa8231, #F02F46);
  border-radius: 100%;
  padding: 1rem;
  transition: all 0.16s;
  box-shadow: 0rem 0rem 3rem rgba(17, 17, 17, 0.7); }
  .btn-primary--small {
    width: 20vh;
    height: 20vh; }
  .btn-primary__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 100%;
    box-shadow: 0 0 2rem rgba(17, 17, 17, 0.7); }
  .btn-primary__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #f3f3f3;
    width: 50%;
    height: 50%; }
  .btn-primary__text {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: spin 1s;
    fill: #f3f3f3;
    transition: transform 1s; }
  .btn-primary.pulsing {
    animation: pulse .64s; }
  .btn-primary.blurred {
    animation: none;
    transform: scale(0.6);
    box-shadow: 0 0 0 rgba(17, 17, 17, 0.7); }
  .btn-primary.blurred .btn-primary__text {
    transform: rotate(-720deg); }
  .btn-primary--small.blurred {
    transform: scale(0.8); }
  .btn-primary:hover {
    transform: scale(1.05);
    animation: none; }
  .btn-primary.blurred:hover {
    transform: scale(0.63);
    box-shadow: 0 0 1rem rgba(17, 17, 17, 0.7); }
  .btn-primary--small.blurred:hover {
    transform: scale(0.83); }
  .btn-primary:active {
    transform: scale(1); }
  .btn-primary.blurred:active {
    transform: scale(0.6); }
  .btn-primary--small.blurred:active {
    transform: scale(0.8); }
  .btn-primary.animating {
    transition: all 1s; }
  .btn-primary.hidden {
    transform: scale(0.6);
    opacity: 0; }
  .btn-primary.hidden .btn-primary__text {
    transform: rotate(-720deg); }

.info-blob {
  display: block;
  position: absolute;
  height: 10vh;
  width: 10vh;
  background: #333;
  border-radius: 100%;
  box-shadow: 0 0 0.3rem rgba(17, 17, 17, 0.7);
  transition: all 0.16s;
  overflow: hidden; }
  .info-blob:link, .info-blob:active, .info-blob:visited {
    text-decoration: none; }
  .info-blob:link:hover {
    box-shadow: 0 0 1rem rgba(17, 17, 17, 0.7);
    transform: scale(1.05); }
  .info-blob__icon {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    transition: transform 0.16s; }
  .info-blob__description {
    color: #F02F46;
    position: relative;
    height: 100%;
    top: calc(50% - .7rem);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    transition: transform 0.16s;
    transform: translateY(100%); }
  .info-blob--white .info-blob__icon {
    fill: #f3f3f3; }
  .info-blob--white .info-blob__description {
    color: #f3f3f3; }
  .info-blob:hover .info-blob__icon {
    transform: translateY(-200%); }
  .info-blob:hover .info-blob__description {
    transform: translateY(0); }
  .info-blob.hidden {
    transform: scale(0.4);
    opacity: 0; }
  .info-blob.animating {
    transition: all 1s; }

.contact-list {
  list-style-type: none; }
  .contact-list__item {
    display: flex;
    align-items: center; }
    .contact-list__item:not(:last-child) {
      margin-bottom: 1rem; }
  .contact-list__icon {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    fill: #111; }
  .contact-list__text {
    font-size: 1.6rem;
    color: #111; }
  .contact-list.hidden {
    opacity: 0;
    transform: translateX(-4rem); }
  .contact-list.animating {
    transition: all 1s; }

.section {
  position: absolute;
  width: 40vw;
  height: 50vh; }
  .section.hidden, .section.blurred {
    z-index: -1000; }

#section-teemu .section__primary-button {
  position: relative;
  top: -12.5vh;
  left: -12.5vh; }

#section-projects {
  top: 50%;
  right: 50%; }
  #section-projects .section__primary-button {
    position: absolute;
    top: calc(25vh * 0.6 - 3rem);
    right: calc(25vh * 0.6 - 3rem); }
    #section-projects .section__primary-button.hidden {
      transform: translate(calc(25vh * 0.6 - 3rem), calc(-25vh * 0.6 + 3rem)); }

#section-resume {
  bottom: 50%;
  right: 50%; }
  #section-resume .section__primary-button {
    position: absolute;
    bottom: calc(25vh * 0.6 - 3rem);
    right: calc(25vh * 0.6 - 3rem);
    background: #fa8231; }
    #section-resume .section__primary-button.hidden {
      transform: translate(calc(25vh * 0.6 - 3rem), calc(25vh * 0.6 - 3rem)); }

#section-techs {
  bottom: 50%;
  left: calc(50% - calc(25vh * 0.6 - 3rem)); }
  #section-techs .section__primary-button {
    position: absolute;
    bottom: calc(25vh * 0.6 - 3rem);
    left: calc(2 * calc(25vh * 0.6 - 3rem)); }
    #section-techs .section__primary-button.hidden {
      transform: translate(calc(-25vh * 0.6 + 3rem), calc(25vh * 0.6 - 3rem)); }

#section-contacts {
  top: 50%;
  left: 50%; }
  #section-contacts .section__primary-button {
    position: absolute;
    top: calc(25vh * 0.6 - 3rem);
    left: calc(25vh * 0.6 - 3rem);
    background: #F02F46; }
    #section-contacts .section__primary-button.hidden {
      transform: translate(calc(-25vh * 0.6 + 3rem), calc(-25vh * 0.6 + 3rem)); }

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vh;
  width: 25vh;
  z-index: 1000; }

#tech-blob-html5 {
  bottom: 13rem;
  left: 9rem; }

#tech-blob-css3 {
  bottom: 23rem;
  left: 6rem; }

#tech-blob-javascript {
  bottom: 24rem;
  left: 17rem; }

#tech-blob-sass {
  bottom: 30rem;
  left: 27rem; }

#tech-blob-wordpress {
  bottom: 29rem;
  left: 40rem; }

#tech-blob-react {
  bottom: 20rem;
  left: 32rem; }

#tech-blob-php {
  bottom: 16rem;
  left: 43rem; }

#tech-blob-sql {
  bottom: 4rem;
  left: 46rem; }

#tech-blob-git {
  bottom: -2rem;
  left: 35rem; }

#tech-blob-npm {
  bottom: 9rem;
  left: 34rem; }

#tech-blob-linux {
  bottom: 0rem;
  left: 24rem; }

#contact-list {
  position: absolute;
  top: calc(calc(25vh * 0.6 - 3rem) + 10vh * (1 - 0.8));
  left: calc(calc(25vh * 0.6 - 3rem) + 10vh * 2 + 3rem);
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-content: center; }
  #contact-list > li {
    flex-grow: 1; }
  #contact-list li:nth-child(2n - 1) {
    transform: translateX(-1rem); }

#contact-blob-github {
  top: 24rem;
  left: 7rem;
  background: #333; }

#contact-blob-linkedin {
  top: 24rem;
  left: 18rem;
  background: #0077b5; }
