.header {
  @include positionAbsoluteCenter;
  height: calc(#{$header-radius} * var(--scale));
  width: calc(#{$header-radius} * var(--scale));
  z-index: 1000;
  top: calc(50% + var(--offset-from-center-y));
  left: calc(50% + var(--offset-from-center-x));
}