.section {
  position: absolute;
  width: 40vw;
  height: 50vh;

  &.hidden,
  &.blurred {
    z-index: -1000;
  }
}

#section-teemu .section__primary-button {
  position: relative;
  top: -$header-radius / 2;
  left: -$header-radius / 2;
}

// SECTION POSITIONING
$primary-button-offset: calc(#{$header-radius} * #{$header-scale-down} - 3rem);
$primary-button-offset-neg: calc(-#{$header-radius} * #{$header-scale-down} + 3rem);

#section-projects {
  top: 50%;
  left: 50%;

  .section__primary-button {
    position: absolute;
    top: $primary-button-offset;
    left: $primary-button-offset;

    &.hidden {
      transform: translate($primary-button-offset-neg, $primary-button-offset-neg);
    }
  }
}

#section-resume {
  bottom: 50%;
  right: 50%;

  .section__primary-button {
    position: absolute;
    bottom: $primary-button-offset;
    right: $primary-button-offset;

    &.hidden {
      transform: translate($primary-button-offset, $primary-button-offset);
    }
  }
}

#section-techs {
  bottom: 50%;
  left: calc(50% - #{$primary-button-offset});

  .section__primary-button {
    position: absolute;
    bottom: $primary-button-offset;
    left: calc(2 * #{$primary-button-offset});

    &.hidden {
      transform: translate($primary-button-offset-neg, $primary-button-offset);
    }
  }
}