// POSITIONING

#tech-blob {
  &-html5 {
    bottom: 13rem;
    left: 9rem;
  }

  &-css3 {
    bottom: 23rem;
    left: 6rem;
  }

  &-javascript {
    bottom: 24rem;
    left: 17rem;
  }

  &-sass {
    bottom: 30rem;
    left: 27rem;
  }

  &-wordpress {
    bottom: 29rem;
    left: 40rem;
  }

  &-react {
    bottom: 20rem;
    left: 32rem;
  }

  &-php {
    bottom: 16rem;
    left: 43rem;
  }

  &-sql {
    bottom: 4rem;
    left: 46rem;
  }

  &-git {
    bottom: -2rem;
    left: 35rem;
  }

  &-npm {
    bottom: 9rem;
    left: 34rem;
  }

  &-linux {
    bottom: 0rem;
    left: 24rem;
  }
}