// POSITIONING

#tech-blob {
  &-html5 {
    bottom: 15rem;
    left: 8rem;
  }

  &-css3 {
    bottom: 25rem;
    left: 6rem;
  }

  &-javascript {
    bottom: 26rem;
    left: 17rem;
  }

  &-sass {
    bottom: 32rem;
    left: 27rem;
  }

  &-wordpress {
    bottom: 31rem;
    left: 40rem;
  }

  &-react {
    bottom: 22rem;
    left: 32rem;
  }

  &-php {
    bottom: 18rem;
    left: 43rem;
  }

  &-sql {
    bottom: 6rem;
    left: 46rem;
  }

  &-git {
    bottom: 0rem;
    left: 35rem;
  }

  &-npm {
    bottom: 11rem;
    left: 34rem;
  }

  &-linux {
    bottom: 2rem;
    left: 24rem;
  }
}