// COLORS

$color-primary-1: #fa8231;
$color-primary-2: #F02F46;

$color-white: #f3f3f3;
$color-gray-light: #ddd;
$color-gray-dark: #333;
$color-black: #111;

// CIRCLE SIZES

$header-radius: 20rem;
$section-header-radius: 8rem;
$info-blob-radius: 4rem;
$header-scale-down: 0.6;
$section-header-scale-down: 0.8;

//PLACEMENT
$primary-button-offset: calc(#{$header-radius} * #{$header-scale-down} - 4rem);
$primary-button-offset-neg: calc(-#{$header-radius} * #{$header-scale-down} + 4rem);

// BOX SHADOW

$bs-color: rgba($color-black, .7);
$bs-large: 0rem 1.5rem 3rem $bs-color;
$bs-medium: 0 1rem 2rem $bs-color;
$bs-small: 0 .5rem 1rem $bs-color;

// TRANSITIONS

$mouse-transition-duration: .2s;
$animating-transition-duration: 1s;