.btn-primary {
  transform-origin: center;
  display: block;
  width: calc(#{$header-radius} * 2 * var(--scale));
  height: calc(#{$header-radius} * 2 * var(--scale));
  background-image: linear-gradient(to bottom right, $color-primary-1, $color-primary-2);
  border-radius: 100%;
  padding: 1rem;
  transition: all $mouse-transition-duration;
  box-shadow: $bs-large;
  cursor: pointer;

  @media only screen and (max-width: $bp-small) {
    padding: .5rem;
  }

  &--small {
    width: calc(#{$section-header-radius} * 2 * var(--scale));
    height: calc(#{$section-header-radius} * 2 * var(--scale));
    box-shadow: $bs-medium;
  }

  &__img {
    @include positionAbsoluteCenter;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    box-shadow: 0 0 2rem $bs-color;
  }

  &__icon {
    @include positionAbsoluteCenter;
    fill: $color-white;
    width: 50%;
    height: 50%;
  }

  &__text {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: spin $animating-transition-duration;
    fill: $color-white;
    transition: transform $animating-transition-duration;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 1.75rem;
    }
  }

  // Pulsing behaviour
  &.pulsing {
    animation: pulse .64s;
  }

  // Blurred behaviour
  &.blurred {
    animation: none;
    transform: scale($header-scale-down);
    //filter: grayscale(0) blur(0px);
    box-shadow: 0 0 0 $bs-color;
  }
  &.blurred &__text {
    transform: rotate(-720deg);
  }
  &--small.blurred {
    transform: scale($section-header-scale-down);
  }

  // Hover behaviour
  &:hover {
    transform: scale(1.05);
    animation: none;
  }
  &.blurred:hover {
    transform: scale($header-scale-down + .03);
    box-shadow: $bs-medium;
  }
  &--small.blurred:hover {
    transform: scale($section-header-scale-down + .03);
  }

  // Active behaviour
  &:active {
    transform: scale(1);
  }
  &.blurred:active {
    transform: scale($header-scale-down);
  }
  &--small.blurred:active {
    transform: scale($section-header-scale-down);
  }

  // Animation behaviour for smoother animations
  &.animating {
    transition: all $animating-transition-duration;
  }

  // Hidden behaviour
  &.hidden {
    transform: scale($header-scale-down);
    opacity: 0;
  }
  &.hidden &__text {
    transform: rotate(-720deg);
  }
}