.circle-section {
  position: relative;
  transform-origin: center;
  display: block;
  width: 50vh;
  height: 50vh;
  transition: all 1s;

  &--small {
    width: 20vh;
    height: 20vh;
  }

  &__animation-layer {
    display: block;
    background-image: linear-gradient(to bottom right, $color-primary-1, $color-primary-2);
    border-radius: 100%;
    padding: 1rem;
    transform-origin: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .16s;
    box-shadow: 0 0 3rem rgba($color-black, .7);
  }

  &__img {
    @include positionAbsoluteCenter;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    box-shadow: 0 0 2rem rgba($color-black, .7);
  }

  &__icon {
    @include positionAbsoluteCenter;
    fill: $color-white;
    width: 50%;
    height: 50%;
  }

  &__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: spin 1s;
    fill: $color-white;
    transition: transform 1s;
  }

  // Pulsing behaviour
  &.pulsing &__animation-layer {
    animation: pulse .64s;
  }

  // Blurred behaviour
  &.blurred &__animation-layer {
    animation: none;
    transform: scale(.6);
    filter: grayscale(1) blur(3px);
  }
  &.blurred &__text {
    transform: rotate(-720deg);
  }

  // Hover behaviour
  &__animation-layer:hover {
    transform: scale(1.05);
    animation: none;
  }
  &.blurred &__animation-layer:hover {
    transform: scale(.63);
  }

  // Active behaviour
  &__animation-layer:active {
    transform: scale(1);
  }
  &.blurred &__animation-layer:active {
    transform: scale(.6);
  }

  // Animation behaviour for smoother animations
  &.animating &__animation-layer {
    transition: all 1s;
  }

  // Hidden behaviour
  &.hidden &__animation-layer {
    transform: scale(.6);
    opacity: 0;
  }
  &.hidden &__text {
    transform: rotate(-720deg);
  }
}