.contact-list {
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
      
      @media only screen and (max-width: $bp-smaller) {
        margin-bottom: 0rem;
      }
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    fill: $color-black;

    @media only screen and (max-width: $bp-smaller) {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    color: $color-black;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.3rem;
    }
    @media only screen and (max-width: $bp-smaller) {
      font-size: 1.1rem;
    }
  }

  &.hidden {
    opacity: 0;
    transform: translateX(-4rem);
  }

  &.animating {
    transition: all $animating-transition-duration;
  }
}